<div class="umb-pane" ng-controller="uContactor.PermanentDeleteContact.controller">
    <p>
        Are you sure you want to permanently delete this contact?<br />
        <small style="color: #ff2200">Warning, you cannot restore this contact message after deleted!</small><br/>
        <span class="contact-subject">{{contact.Subject}}</span><br />
        <strong>Name</strong>:<br />
        <small>{{contact.Name}} - {{contact.Email}}</small><br />
        <strong>Message</strong>:<br />
        <small ng-bind-html="contact.Message | limitTo: 200"></small>{{contact.Message.length > 200 ? '...' : ''}}
    </p>

    <div>
        <div class="umb-pane btn-toolbar umb-btn-toolbar">
            <div class="control-group umb-control-group">
                <a href="" class="btn btn-link" ng-click="cancelDelete()">
                    <localize key="general_cancel">Cancel</localize>
                </a>
                <a href="" class="btn btn-danger" ng-click="delete(contact.Id)">
                    <localize key="general_delete">Delete</localize>
                </a>
            </div>
        </div>
    </div>
</div>
