.clearfix {
    clear: both;
    float: none;
    display: block;
}

.contact-top-menu {
    padding: 0 30px 20px 20px;
    border-bottom: 1px dotted #d3d3d3;
    position: relative;
}

.contact-container {
    width: 85%;
}

.contact-item:hover {
    background-color: rgba(60,255,0,0.3);
    border: 2px thick rgba(60,255,0,1);
    cursor: pointer;
    border-radius: 5px;
}

.contact-avatar img {
    max-width: 40px;
    position: absolute;
    left: 40px;
    border-radius: 5px;
}

.contact-item {
    padding: 10px 20px 35px 20px;
    width: 100%;
    float: left;
    position: relative;
    border-bottom: 1px dotted #ddd;
    background-color: transparent;
}

    .contact-item .contact-item {
        padding-left: 0;
        margin-bottom: 0;
    }

    .contact-item > .contact-replies > .contact-item {
        padding-right: 30px;
    }

.contact-header {
    font-size: 12px;
}

.contacter-name {
    color: #008b8b;
    font-weight: bold;
}

.contact-date {
    color: #008b8b;
}

.contacter-email {
}

.contacter-ip-address {
    color: #008b8b;
}

.contact-website {
    font-size: 12px;
    font-weight: normal;
    color: #999999;
}

.contact-content {
}

.contact-footer {
    font-size: 12px;
    font-weight: normal;
    color: #999999;
}

    .contact-footer a {
        color: #008b8b;
    }

.contact-control {
    width: 100%;
    text-align: left;
    left: 20px;
    position: absolute;
}

    .contact-control a, a.contact-link {
        color: #008b8b;
        font-size: 12px;
        cursor: pointer;
    }

a.contact-link {
    margin-left: 0;
}

.contact-subject{
    font-size:18px;
    font-weight:bold;
    line-height:26px;
}

.contact-subject:before{
    content: "Subject: ";
}

.contact-reply {
    display:none;
}

    .contact-reply.open {
        display:block;
        padding-bottom:5px;
    }

.contact-replied{
    margin:10px 0 0 10px;
    padding-left: 10px;
    border-left: solid 2px #d3d3d3;
}

.contact-replied-message{
    font-weight: bold;
    font-size: 12px;
    color: #777;
}

.contact-replies {
    max-height: 600px;
    transition: 1s;
    overflow-y: scroll;
}

    .contact-replies.hidden {
        max-height: 0;
        overflow: hidden;
    }

.contact-detail-link {
    color: #008b8b;
    font-size: 14px;
    cursor: pointer;
    font-weight: bold;
}

.contacter-detail-name {
    color: #008b8b;
    font-weight: bold;
    font-size: 12px;
}

.contact-detail-date {
    color: #008b8b;
    font-size: 11px;
}

.contact-detail-message {
    font-size: 14px;
}

.contact-in-reply-text {
    font-size: 12px;
    color: #b3b3b3;
}

.child-date {
    font-size:10px;
}

.contact-reply-to {
    border-left: 1px solid #d3d3d3;
    padding-left: 10px;
    font-size: 12px;
    color: #b3b3b3;
    margin-bottom: 5px;
}

.search-clear {
    display: block;
    position: absolute;
    right: 5px;
    top: 5px;
}

.contact-user-detail {
    padding-top: 5px;
    padding-bottom: 25px;
    border-top: 1px dotted #d3d3d3;
    margin-top: 25px;
}

    .contact-user-detail .user-section {
        float: left;
        width: 50%;
    }

.user-section .contact-avatar img {
    position: relative;
    left: 0;
    float: left;
}

.contact-user-detail .user-control {
    float: left;
    width: 50%;
}

.contact-control-detail {
    width: 100%;
    text-align: left;
}

    .contact-control-detail a {
        color: #008b8b;
        font-size: 12px;
        cursor: pointer;
    }

.user-section .contact-header {
    padding-left: 10px;
    float: left;
}

.user-section .contacter-email {
    font-size: 12px;
    padding-bottom: 5px;
    border-bottom: 1px solid #d3d3d3;
}

.user-section .contacter-ip-address {
    font-size: 12px;
    color: #d3d3d3;
}

.paging-item {
    float: left;
    cursor: pointer;
    margin-right: 3px;
}

    .paging-item.current {
        color: #008b8b;
    }

.v-spacer {
    height: 50px;
    width: 100%;
    clear: both;
}

a.disabled {
    color: #d3d3d3;
}

    a.disabled:hover {
        text-decoration: none;
        cursor: default;
    }

span .checkbox {
    position: absolute;
    left: 20px;
    padding-left: 0;
    margin-top: 1px;
}
